<!--  -->

<div class="header_scope">
  <%= link_to "Página Inicial ", sisconff_path, id: "inicial_page" %>
  <%= link_to ">> Visualisar Cargas >> Pendentes deste setor", control_set_new_carga_path, id: "current_page" %>
</div>

<!--  -->

<DIV class="LadoDoMenu">
  <table class="pretty">
  <tr>
    <th> 
          <strong><%=h "Matricula Funcional" %></strong>
        </th>
        <th> 
          <strong><%=h "Nome do Servidor" %></strong>
        </th>

        <th> 
          <strong><%=h "CPF" %></strong>
        </th>

        <th> 
          <strong><%=h "Função" %></strong>
        </th>

        <th> 
          <strong><%=h "Lotação" %></strong>
        </th>
  </tr>
  
  <% usuarios.each do |item| %>
    <% for item in item.line_items %>
      <tr>    
          <td>
            <center>
                <%=h formata_matriculas(item.ficha.matricula) %>
            </center>
          </td>

          <td>
            <center>
                <%=h item.ficha.nome %>
            </center>
          </td>


            <td>
              <center>
                  <%=h item.ficha.cpf %>
              </center>
            </td>

            <td>
              <center><%=h item.ficha.nome_funcao %></center>
            </td>

            <td>
              <center><%=h item.ficha.nome_lotacao %></center>
            </td 
        </tr>
    <% end %>
  <% end %>
</table>
</div>