<DIV class="LadoDoMenu">
  <table class="pretty">
    <tr>
      <th>
        <%=h "Selecionar item" %>
      </th>
      <th> 
        <%=h "Data da Criação" %>
      </th>
      <th> 
        <%=h "Origem" %>
      </th>
      <th> 
        <%=h "Destino" %>
      </th>
      <th> 
        <%=h "Gerada por"%>
      </th>
      <th> 
        <%=h "Status"%>
      </th>
      <th> 
        <%=h "Quantidade de matrículas nesta carga"%>
      </th>
      <th> 
        <%=h "Opção"%>
      </th>
    </tr>
    <%= yield %>
  </table>
</DIV>