<!--  -->

<div class="header_scope">
  <%= link_to "Página Inicial ", sisconff_path, id: "inicial_page" %>
  <%= link_to ">> Visualisar Cargas >> Pendentes deste setor", control_set_new_carga_path, id: "current_page" %>
</div>

<!--  -->

<BR /><BR />
<h3>Cargas não recebidas</h3><HR />
<fieldset>
<BR /><BR />
<%= form_tag control_receive_all_path,  :method => :put do %>
	<%= render layout: 'receber_carga' do |f|%>
		  <%  @cargas_pendentes	.each do |carga| %>
			  <tr>
			  	<td>
			  		<center><%=h check_box_tag "order_cargas_ids[]", carga.id %></center>
			  	</td>
			  	<td><%= formata_data(carga.created_at) %></td>
			    <td>
			      <%=h carga.setor_origem.nome %>
			    </td>
			    <td>
			      <%=h carga.setor_destino.nome %>
			    </td>
			    <td>
			      <%=h carga.user_1.nome %>
			    </td>

			    <td>
			      <%=h recebida_yes_or_no?(carga.status) %>
			    </td>
			    <td>
			    	<center><%=h carga.line_items.count %></center>
			    </td>
			    <td>
			      <%=h link_to "Visualizar matriculas", control_view_matriculas_path(carga.line_items) %>
			    </td>
			  </tr>
			<% end %>
			
			<div id="side_action_button_fichas_registration">
				<b><%= "Selecionar Todas"%></b>&nbsp<%= check_box_tag('check_all', 'check_all', false, :onClick => "checkAll(this);") %>
			</div>
&nbsp
	<% end %>
	<div id="side_action_button_fichas_registration">
		<%=h submit_tag "Receber Selecionadas", :class=>"btn btn-danger btn-lg but-shadow btn-size but_default_color", :id=>"button_font" %>
	</div>
<% end %>
</fieldset>
