div class="header_scope"
	= link_to "Página Inicial >> ", sisconff_path, id: "inicial_page"
	= link_to "Gerenciar Cargas >> Criar Carga", control_set_new_carga_path, id: "current_page"

br 
br

= render 'fichas_normais'

- if @cart
  = hidden_div_if(@cart.line_items.empty?, id: 'cart') do
    = render @cart