<div class="header_scope">
	<%= link_to "Página Inicial >> ", sisconff_path, id: "inicial_page" %>
	<%= link_to "Cargas para Ex-Servidores >> Criar Carga", control_new_ex_serv_cargas_path, id: "current_page" %>
</div>
<BR />
<BR />

<a href="#dialog2" name="modal" id="dialogModalink">Observação - Leia Aqui!</a>
<div id="boxes">
    
    <!-- #customize your modal window here -->
    <div id="dialog2" class="window">
        <b>ATENÇÃO.<br />
        	Aqui você deve apenas, inserir Fichas Funcionais localizadas na Casa do Arquivo.
        </b>
        
        <BR /><BR /><BR />
        <!-- <input type="button" value="Fechar" class="close"/> -->
        <a href="#" class="close" id="dialogModal2" />Fechar Janela</a>
    </div>
    
    <!-- Do not remove div#mask, because you'll need it to fill the whole screen -->    
    <div id="mask"></div>
</div>
<BR /><BR />
 <h3>Fichas Funcionais para Ex-Servidores</h3><HR />
<fieldset>
    <%= form_tag special_line_items_path :remote=> true do %>
	    	<%= label_tag "Matricula" %>
	    	<div id="tCarga">
	    		<%= text_field_tag :search_string %>
	    	</div>
	  		<div id="cCarga">
	  			<%=h submit_tag "Adicionar" , :class=>"btn btn-danger btn-lg but-shadow btn-size", :id=>"button_font" %>
	  			<div id="side_action_button_fichas_registration">
            <%=h link_to "Cancelar", sisconff_path, :class=>"btn btn-primary btn-lg but-shadow btn-size", :id=>"button_font" %>
          </div>
	  		</div>
	<% end %>
</fieldset>

<% if @special_cart %>
  <%= hidden_div_if(@special_cart.special_line_items.empty?, id: 'special_cart') do %>
    <%= render @special_cart %>
  <% end %>
<% end %>  