<!--  -->

<div class="header_scope">
  <%= link_to "Página Inicial ", sisconff_path, id: "inicial_page" %>
  <%= link_to ">> Visualisar Cargas >> Pendentes deste setor", control_set_new_carga_path, id: "current_page" %>
</div>

<!--  -->
<BR /><BR /><BR />

<DIV class="LadoDoMenu">
  <table class="pretty">
  <tr>
        <th> 
          <strong><%=h "Matrícula de Ex-Servidor" %></strong>
        </th>
        <th> 
          <strong><%=h "Matrícula Funcional Antiga" %></strong>
        </th>
        <th> 
          <strong><%=h "Nome do Servidor" %></strong>
        </th>

        <th> 
          <strong><%=h "CPF" %></strong>
        </th>

        <th> 
          <strong><%=h "Função" %></strong>
        </th>

        <th> 
          <strong><%=h "Vínculo" %></strong>
        </th>
  </tr>
  
  <% @carga.ex_servidores.each do |item| %>
    <tr>    
        <td>
          <center>
              <%=h formata_matriculas(item.nova_matricula) %>
          </center>
        </td>

        <td>
          <center>
              <%=h formata_matriculas(item.matricula_antiga) %>
          </center>
        </td>

        <td>
          <center>
              <%=h item.nome %>
          </center>
        </td>


          <td>
            <center>
                <%=h item.cpf %>
            </center>
          </td>

          <td>
            <center><%=h item.nome_funcao %></center>
          </td>

          <td>
            <center><%=h item.vinculo %></center>
          </td 
      </tr>
  <% end %>
</table>

<div id="side_action_button_fichas_registration">
  <%= link_to 'Voltar', control_get_order_carga_path, :class=>"btn btn-primary btn-lg but-shadow btn-size but_default_color", :id=>"button_font" %>
</div>
</div>