= form_for @ex_servidor do |f|
  - if @ex_servidor.errors.any?
    #error_explanation
      h2 = "#{pluralize(@ex_servidor.errors.count, "error")} prohibited this ex_servidor from being saved:"
      ul
        - @ex_servidor.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :nova_matricula
    = f.text_field :nova_matricula
  .field
    = f.label :matricula_antiga
    = f.text_field :matricula_antiga
  .field
    = f.label :nome
    = f.text_field :nome
  .field
    = f.label :cpf
    = f.text_field :cpf
  .field
    = f.label :data_de_admissao
    = f.date_select :data_de_admissao
  .field
    = f.label :data_de_desligamento
    = f.date_select :data_de_desligamento
  .field
    = f.label :data_de_aposentadoria
    = f.date_select :data_de_aposentadoria
  .field
    = f.label :vinculo
    = f.text_field :vinculo
  .field
    = f.label :nome_função
    = f.text_field :nome_função
  .actions = f.submit 'Save'
