h1 Listing ex_servidores

table
  thead
    tr
      th Nova matricula
      th Matricula antiga
      th Nome
      th Cpf
      th Data de admissao
      th Data de desligamento
      th Data de aposentadoria
      th Vinculo
      th Nome função
      th
      th
      th

  tbody
    - @ex_servidores.each do |ex_servidor|
      tr
        td = ex_servidor.nova_matricula
        td = ex_servidor.matricula_antiga
        td = ex_servidor.nome
        td = ex_servidor.cpf
        td = ex_servidor.data_de_admissao
        td = ex_servidor.data_de_desligamento
        td = ex_servidor.data_de_aposentadoria
        td = ex_servidor.vinculo
        td = ex_servidor.nome_função
        td = link_to 'Show', ex_servidor
        td = link_to 'Edit', edit_ex_servidor_path(ex_servidor)
        td = link_to 'Destroy', ex_servidor, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Ex servidor', new_ex_servidor_path
