p#notice = notice

p
  strong Nova matricula:
  = @ex_servidor.nova_matricula
p
  strong Matricula antiga:
  = @ex_servidor.matricula_antiga
p
  strong Nome:
  = @ex_servidor.nome
p
  strong Cpf:
  = @ex_servidor.cpf
p
  strong Data de admissao:
  = @ex_servidor.data_de_admissao
p
  strong Data de desligamento:
  = @ex_servidor.data_de_desligamento
p
  strong Data de aposentadoria:
  = @ex_servidor.data_de_aposentadoria
p
  strong Vinculo:
  = @ex_servidor.vinculo
p
  strong Nome função:
  = @ex_servidor.nome_função

= link_to 'Edit', edit_ex_servidor_path(@ex_servidor)
'|
= link_to 'Back', ex_servidores_path
