<div class="header_scope">
  <%= link_to "Página Inicial >> ", sisconff_path, id: "inicial_page" %>
  <%= link_to "Menu do usuário >> ", "#", id: "middle_page" %>
  <%= link_to "Configurações >> Alterar dados", edit_usuario_registration_path, id: "current_page" %>
</div><br /><br />



<div id="dialog" title="ATENÇÃO">
  <p id="pHELPER">
    Caso não queira mudar sua senha atual, sugiro que deixe os campos nova senha e confirmação de senha em branco. Porem você deverá colocar sua senha atual para confirma a alteração dos dados.
  </p>
</div>

<DIV class="LadoDoMenu">
  <h3>Altere seus dados</h3><HR />
  <fieldset>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <% if resource.errors.any? %>
        <div id="error_explanation">
          <%= t('general.form_error') %>
        </div>
      <% end %>

      <div class="row large-4 columns">
        <div class="control-group">
          <%= f.label :nome %><br />
          <%= f.text_field :nome, :autofocus => true %>
          <%= error_tag resource, :nome%>
        </div>
      
        <div class="control-group">
          <%= f.label :matricula %><br />
          <input type="text" value="<%= current_usuario.matricula%>" readonly>
        </div>

        <div class="control-group">
            <%= f.label :nova_senha %><BR />
            <%= f.password_field :password, :autocomplete => "off" %>
            <%= error_tag resource, :password%>
        </div>
      </div>

      <div class="row large-4 columns">
        <div class="control-group">
          <%= f.label :setor %><br />
          <input type="text" value="<%= current_usuario.setor.nome%>" readonly>
        </div>      

        <div class="control-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, :autofocus => true %>
          <%= error_tag resource, :email%>
        </div>

        <div class="control-group">
            <%= f.label :confirme_sua_nova_senha %><br />
            <%= f.password_field :password_confirmation %>
            <%= error_tag resource, :password_confirmation %>
        </div>
      </div>

      <div class="row large-4 columns">
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="control-group">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      </div>

      <div class="row large-4 columns">
        <div class="control-group">
          <%= f.label "CPF:" %>
          <div>Use - 000.000.000-00</div>
          <%= f.text_field :cpf, :autofocus => true %>
          <%= error_tag resource, :cpf %>
        </div>
      

        <div class="row large-4 columns">
          <div class="control-group">
              <%= f.label :senha_atual %><br />
              <%= f.password_field :current_password %>
              <%= error_tag resource, :current_password %>
          </div>
        </div>
      </div>


      
      <div id="side_action_button_fichas_registration">
              <%= f.submit t('layout.update'), :class=>"btn btn-danger btn-lg but-shadow btn-size", :id=>"button_font" %>
      </div>
      <div id="side_action_button_fichas_registration">
        <%= link_to t('layout.back'), sisconff_path, :class=>"btn btn-primary btn-lg but-shadow btn-size", :id=>"button_font" %>
      </div>
      
    <% end %>
</DIV></fieldset>

<script type="text/javascript">
  
  $(function() {
    $( "#dialog" ).dialog();
  });
  
</script>