<div class="header_scope">
  <%= link_to "Página Inicial >> ", sisconff_path, id: "inicial_page" %>
  <%= link_to "Localizar Ficha >> Por Matrícula", find_matricula_path, id: "current_page" %>
</div>

<br />
<h3>Informe a matricula</h3>
<%= form_tag(search_string_path, method: "GET") do %>
	<%= text_field_tag :search_string %>
	<div id="side_action_button_fichas_registration">
		<%=h submit_tag "Enviar" , :class=>"btn btn-danger btn-lg but-shadow btn-size", :id=>"button_font"%>
	</div>
	<div id="side_action_button_fichas_registration">
		<%=h link_to "Voltar", :back, :class=>"btn btn-primary btn-lg but-shadow btn-size", :id=>"button_font" %>
	</div>
<% end %>