<DIV class="LadoDoMenu">
  <table class="pretty">
    <tr>
      <th><%=h "Matricula" %></th>
      <th><%=h "Nome" %></th>
      <th><%=h "Função" %></th>
      <th><%=h "Vinculo" %></th>
      
      <th><%=h "Opção" %></th>
    </tr>
    <%= yield %>
  </table>
</DIV>