<DIV class="LadoDoMenu">
  <table class="pretty">
    <tr>
      <th><strong><%=h "Matrícula de Ex-Servidor" %></strong></th>
      <th><strong><%=h "Matrícula Funcional Antiga" %></strong></th>
      <th><strong><%=h "Nome do Servidor" %></strong></th>
      <th><strong><%=h "CPF" %></strong></th>
      <th><strong><%=h "Função" %></strong></th>
      <th><strong><%=h "Vínculo" %></strong></th>
      <th><%=h "Opção" %></th>
    </tr>
    <%=h yield %>
  </table>
</DIV>