<%= render partial: 'find_by_name' %>

<div id="recuo">
<h3>Fichas Encontradas</h3><HR />
<fieldset>
<!-- <fieldset> -->
  <BR /><BR />
  <% if @fichas.empty? %>
    <div class="marked" id="NenhumaMovimentacao">
      <%= image_tag("NotOk.png") + "  Nome não foi localizado." %>
    </div>
  <% else %>
<table class="pretty">
  <tr>
    <th>Ficha Localizada na SMAGP</th>
    <th>Matrícula</th>
    <th>Nome</th>
    <th>Função</th>
    <th>Opção</th>
  </tr>

  <% @fichas.each do |servidor| %>
    <tr>
      <td><%=h image_tag("ok.png")%></td>
      <td id="mesma_matricula"><%=h servidor.matricula %></td>
      <td><%=h servidor.nome %></td>
      <td><%=h servidor.nome_funcao %></td>
      <td><%=h link_to "Visualizar Detalhadamente", find_ficha_omega_path(servidor.id) %></td>
    </tr>
  <% end %>
</table>
<div class="flickr_pagination pagination-mini">
  <%= will_paginate @fichas, previous_label: "Anterior", next_label: "Próxima", container: false%>
</div>
<% end %>
<!-- </fieldset> -->
<BR />
<br />
<!-- <fieldset> -->
  <BR /><BR />
  <% if @exservidores.empty? %>
    <div class="marked" id="NenhumaMovimentacao">
      <%= image_tag("NotOk.png") + "  Nome não foi localizado na base de Ex-Servidores." %>
    </div>
	<% else %>
<table class="pretty">
  <tr>
    <th>Ficha Localizada na Casa do Arquivo</th>
    <th>Matrícula de Ex-Servidor</th>
    <th>Matrícula Funcional Antiga</th>
    <th>Nome</th>
    <th>Opção</th>
  </tr>

  <% @exservidores.each do |exservidor| %>
    <tr>
      <td><%=h image_tag("ok.png")%></td>
      <td id="mesma_matricula"><%=h exservidor.nova_matricula %></td>
      <td><%=h exservidor.matricula_antiga %></td>
      <td><%=h exservidor.nome %></td>
      <td><%=h link_to "Visualizar Detalhadamente", find_exservidor_omega_path(exservidor.id) %></td>
    </tr>
  <% end %>
</table>
<div class="flickr_pagination pagination-mini">
  <%= will_paginate @exservidores, previous_label: "Anterior", next_label: "Próxima", container: false%>
</div>
<% end %>
<!-- </fieldset> -->
<BR />
<BR />
  <div id="side_action_button_fichas_registration">
    <%=h link_to "Voltar", find_matricula_path, :class=>"btn btn-primary btn-lg but-shadow btn-size", :id=>"button_font" %>
  </div>
</fieldset>
</div>