<%=h render 'find' %>
<% if @fichas.empty? %>
  
<% else %>
  <table class="pretty">
    <tr>
      <th><%= "Orgao Atual" %></th>
      <th><%= "Setor Atual" %></th>
    </tr>
    
    <tr>
      <td><%= "SMAGP" %></td>
      <td><%= @ficha.setor_atual.nome %></td>

    </tr>
  </table>
<% end %>

<BR>
  <h3>Ultimas movimentações</h3><HR />
<fieldset>
  <% if @fichas.empty? %>
    <div class="NotFound" id="NenhumaMovimentacao"><%= image_tag("NotOk.png") + "  Não há movimentações para a matrícula: #{@ficha.matricula}"%></div>
  <% else %>
    <table class="pretty">
      <tr>
        <th><%=h "Matrícula" %></th>
        <th><%=h "Origem" %></th>
        <th><%=h "Destino" %></th>
        <th><%=h "Gerada por" %></th>
        <th><%=h "Data da Geração" %></th>
        <th><%=h "Recebida por" %></th>
        <th><%=h "Data do Recebimento" %></th>
        <th><%=h "Status" %></th>
      </tr>
      <% @fichas.each do |carga| %>
        <tr>
            <td><%=h @ficha.matricula %></td>
            <td><%=h carga.setor_origem.nome %></td>
            <td><%=h carga.setor_destino.nome %></td>
            <td><%=h carga.user_1.nome %></td>
            <td>
              <center><%=h formata_data(carga.created_at) %></center>
            </td>
            
              <% unless carga.user_2 %>
                <td></td>
                <td></td>
              <% else %>
                <td><center><%=h carga.user_2.nome %></center></td>
                <td><center><%=h formata_data(carga.updated_at) %></center></td>
              <% end %>
            <td><%= recebida_yes_or_no?(carga.status) %></td>
        </tr>
      <% end %>
    </table>

    <div class="flickr_pagination pagination-mini">
      <div class="page_info">
          <%= will_paginate @fichas, :previous_label => "Anterior", :next_label => "Próxima", :container => false%>
      </div>
    </div>
  <% end %>
</fieldset>

<BR />
<h3><%=h  t('labels.servant_data') %></h3><HR />
<fieldset>

<table class="pretty">
  <tr>
    <th><%=h "Matrícula" %></th>
    <td><%=h @ficha.matricula %></td>
  </tr>
  
  <tr>
    <th><%=h "Nome" %></th>
    <td><%=h @ficha.nome %></td>
  </tr>

  <tr>
    <th><%=h "Função" %></th>
    <td><%=h @ficha.nome_funcao %></td>
  </tr>

  <tr>
    <th><%=h "Lotação" %></th>
    <td><%=h @ficha.nome_lotacao %></td>
  </tr>

  <tr>
    <th><%=h "Local de Trabalho" %></th>
    <td><%=h @ficha.nome_local_trabalho %></td>
  </tr>

  <tr>
    <th><%=h "Vinculo" %></th>
    <td><%=h @ficha.nome_vinculo %></td>
  </tr>
  
  <tr>
    <th><%=h "Situação" %></th>
    <td><%=h @ficha.situacao %></td>
  </tr>
  <tr>
    <th><%=h "Data admissão" %></th>
    <td>
      <% if @ficha.data_admissao == nil %>
      <%= label_tag "--" %>
      <% else %>
        <%=h formata_data_admissao(@ficha.data_admissao) %>
      <% end %>
    </td>
  </tr>
</table>
</fieldset>

<BR />

<h3>Dependentes</h3><HR />
<fieldset>
  <% unless @pensionista.present? %>
    <div class="NotFound" id="NenhumaMovimentacao"><%= image_tag("NotOk.png") + "Não há dependentes para a matrícula: #{@ficha.matricula}"%></div>
  <% else %>  
    <table class="pretty">
      <tr>
        <th><%=h "Matricula" %></th>
        <th><%=h "Nome"%></th>
      </tr>

      <% @pensionista.each do |w| %>  
        <TR>
          <td><%=h w.matricula %></td>
          <td><%=h w.nome %></td>
        </TR>
      <% end %>
    </table>
  <% end %>
</fieldset>