<%= render 'find' %>
<BR />
<h3>Fichas Encontradas</h3><HR />

<fieldset>
<fieldset>
	<BR /><BR />
<table class="pretty">
	<tr>
		<th>Ficha Localizada na SMAGP</th>
		<th>Matrícula</th>
		<th>Nome</th>
		<th>Opção</th>
	</tr>

	<tr>
		<td><%=h image_tag("ok.png")%></td>
		<td id="mesma_matricula"><%=h @ficha.matricula %></td>
		<td><%=h @ficha.nome %></td>
		<td><%=h link_to "Visualizar Detalhadamente", find_ficha_omega_path(@ficha.id) %></td>
	</tr>
</table>
</fieldset>
<BR />
<br />
<fieldset>
	<BR /><BR />
<table class="pretty">
	<tr>
		<th>Ficha Localizada na Casa do Arquivo</th>
		<th>Matrícula de Ex-Servidor</th>
		<th>Matrícula Funcional Antiga</th>
		<th>Nome</th>
		<th>Opção</th>
	</tr>

	<tr>
		<td><%=h image_tag("ok.png")%></td>
		<td id="mesma_matricula"><%=h @exservidor.nova_matricula %></td>
		<td><%=h @exservidor.matricula_antiga %></td>
		<td><%=h @exservidor.nome %></td>
		<td><%=h link_to "Visualizar Detalhadamente", find_exservidor_omega_path(@exservidor.id) %></td>
	</tr>
</table>
</fieldset>
<BR />
<BR />
	<div id="side_action_button_fichas_registration">
		<%=h link_to "Página Inicial", sisconff_path, :class=>"btn btn-success btn-exlg but-shadow", :id=>"button_font" %>
	</div>
</fieldset>
