<%=h render 'find' %>

<% if @exservidores.empty? %>
  
<% else %>
  <table class="pretty">
  <tr>
    <th><%= "Orgao Atual" %></th>
    <th><%= "Setor Atual" %></th>
  </tr>
  
    <tr>
      <td><%=h "SMAGP" %></td>
      <td><%= @exservidores.setor_atual.nome %></td>
    </tr>
</table>
<% end %>

<BR>
<h3>Ultimas movimentações</h3><HR />
<fieldset>
  <% if @exservidores.empty? %>
    <div class="NotFound" id="NenhumaMovimentacao"><%= image_tag("NotOk.png") + "  Não há movimentações para a matricula: #{@exservidor.nova_matricula}"%></div>
  <% else %>
    <table class="pretty">
      <tr>
        <th><strong><%=h "Matrícula de Ex-Servidor" %></strong></th>
        <th><strong><%=h "Matricula Funcional Antiga" %></strong></th>
        <th><%=h "Origem" %></th>
        <th><%=h "Destino" %></th>
        <th><%=h "Gerada por" %></th>
        <th><%=h "Data da Geração" %></th>
        <th><%=h "Recebida por" %></th>
        <th><%=h "Data do Recebimento" %></th>
        <th><%=h "Status" %></th>
      </tr>
      <% @exservidores.each do |carga| %>
        <tr>
            <td><%=h @exservidor.nova_matricula %></td>
            <td><%=h @exservidor.matricula_antiga %></td>
            <td><%=h carga.setor_origem.nome %></td>
            <td><%=h carga.setor_destino.nome %></td>
            <td><%=h carga.user_1.nome %></td>
            <td>
              <center><%=h formata_data(carga.created_at) %></center>
            </td>
            
              <% unless carga.user_2 %>
                <td></td>
                <td></td>
              <% else %>
                <td><center><%=h carga.user_2.nome %></center></td>
                <td><center><%=h formata_data(carga.updated_at) %></center></td>
              <% end %>
            <td><%=h recebida_yes_or_no?(carga.status) %></td>
        </tr>
      <% end %>
    </table>
    <div class="flickr_pagination pagination-mini">
      <div class="page_info">
          <%=h will_paginate @exservidores, :previous_label => "&laquo; Anterior", :next_label => "Próxima &raquo;", :container => false%>
      </div>
    </div>
  <% end %>
</fieldset>
<BR />
<h3><%=h  t('labels.ex_servant_data') %></h3><HR />
<fieldset>

<table class="pretty">
  <tr>
    <th><%=h "Matrícula de Ex-Servidor" %></th>
    <td><%=h @exservidor.nova_matricula %></td>
  </tr>

  <tr>
    <th><%=h "Matrícula Funcional Antiga" %></th>
    <td><%=h @exservidor.matricula_antiga %></td>
  </tr>
  
  <tr>
    <th><%=h "Nome" %></th>
    <td><%=h @exservidor.nome %></td>
  </tr>

  <tr>
    <th><%=h "Função" %></th>
    <td><%=h @exservidor.nome_funcao %></td>
  </tr>

  <tr>
    <th><%=h "CPF" %></th>
    <td><%=h @exservidor.cpf %></td>
  </tr>

  <tr>
    <th><%=h "Vinculo" %></th>
    <td><%=h @exservidor.vinculo %></td>
  </tr>
  
  <tr>
    <th><%=h "Data de Desligamento" %></th>
    <td>
      <% if @exservidor.data_de_desligamento == nil %>
        <%=h label_tag "--" %>
      <% else %>  
        <%=h match_string_to_date_format(@exservidor.data_de_desligamento) %>
      <% end %>
    </td>
  </tr>
 
</table>
</fieldset>
