<div class="header_scope">
	<%=h link_to "Página Inicial ", sisconff_path, id: "inicial_page" %>
	<%=h link_to ">> Localizar Ficha >> Por Setor", find_setores_path, id: "middle_page" %>
	<%=h link_to " >> #{@setor.nome}", id: "current_page" %>
</div>
<h3>Fichas encontradas no Setor: <%= @setor.nome %></h3><HR />

<BR />
<BR />
	<h3>Fichas Funcionais Comuns</h3><HR />
	<fieldset>
		<% if @fichas.present? %>
			<%= render layout: 'layout_preview_by_setor' do |f|%>
				<% @fichas.each do |e| %>
					<tr>
						<td><%=h e.matricula %></td>
						<td><%=h e.nome %></td>
						<td><%=h e.nome_funcao %></td>
						<td><%=h e.nome_vinculo %></td>
						<td><%=h link_to "Visualizar Detalhadamente.", find_ficha_omega_path(e.id) %></td>
					</tr>
				<% end %>
			<% end %>
		<% else %>
			<div class="NotFound" id="NenhumaMovimentacao"><%=h image_tag("NotOk.png")+"  Nenhuma movimentação para Ficha Funcional Comum encontrada no Setor: #{@setor.nome}" %></div>
		<% end %>
		<div class="flickr_pagination pagination-mini">
	      <div class="page_info">
	          <%=h will_paginate @fichas, :previous_label => "Anterior", :next_label => "Próxima", :container => false%>
	      </div>
	    </div>
	</fieldset>
<BR />
<BR />
<BR />
	<h3>Fichas de Ex-Servidor</h3><HR />
	<fieldset>
		<% if @ex_servidores.present? %>
			<%= render layout: 'layout_special_preview_by_setor' do |f|%>
				<% @ex_servidores.each do |e| %>
					<tr>
						<td><%=h e.nova_matricula %></td>
						<td><%=h e.matricula_antiga %></td>
						<td><%=h e.nome %></td>
						<td><%=h e.cpf %></td>
						<td><%=h e.nome_funcao %></td>
						<td><%=h e.vinculo %></td>
						<td><%=h link_to "Visualizar Detalhadamente.",find_exservidor_omega_path(e.id) %></td>
					</tr>
				<% end %>
			<% end %>
		<% else %>
			<div class="NotFound" id="NenhumaMovimentacao"><%=h image_tag("NotOk.png")+"  Nenhuma movimentação de Fichas de Ex-Servidor do setor casa do Arquivo encontrada no setor de #{@setor.nome}" %></div>
		<% end %>
	</fieldset>
	<div class="flickr_pagination">
      <!-- <div class="page_info"> -->
          <%=h will_paginate @ex_servidores, :previous_label => "Anterior", :next_label => "Próxima", :container => false%>
      <!-- </div> -->
    </div>

<BR />
<div id="side_action_button_fichas_registration">
  	<%=h link_to "Voltar", find_setores_url, :class=>"btn btn-success btn-lg but-shadow btn-size", :id=>"button_font"%>
</div>