<div class="header_scope">
	<%=h link_to "Página Inicial ", sisconff_path, id: "inicial_page" %>
	<%=h link_to ">> Localizar Ficha >> Por Setor", find_setores_path, id: "current_page" %>
</div>
<BR /><BR />
<h4 style="text-align: center;">Setores encontrados na Secretaria Municipal de Administração e Gestão de Pessoas</h4><HR />
<fieldset id="item_destacado">
	
	<% @setores.each do |setor| %>
	<nav>
		<ul id="sectors_founded">
			<li >
				<%=h link_to setor.nome, sectors_located_path(setor.id), id: "sectors_founded"%>
			</li>
		</ul>
	</nav>
  	<% end %>
</fieldset>
