= form_for @special_line_item do |f|
  - if @special_line_item.errors.any?
    #error_explanation
      h2 = "#{pluralize(@special_line_item.errors.count, "error")} prohibited this special_line_item from being saved:"
      ul
        - @special_line_item.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :special_cart
    = f.text_field :special_cart
  .field
    = f.label :exservidor
    = f.text_field :exservidor
  .field
    = f.label :order_carga
    = f.text_field :order_carga
  .actions = f.submit 'Save'
