<% if special_line_item == @current_special_item %>
<tr id="current_special_item">
<% else %>
<tr>
<% end %>
  <td><%= special_line_item.ex_servidor.nova_matricula %></td>
  <td><%= special_line_item.ex_servidor.matricula_antiga %></td>
  <td><%= special_line_item.ex_servidor.nome %></td>
  <td><%= special_line_item.ex_servidor.cpf %></td>
  <td><%= special_line_item.ex_servidor.nome_funcao %></td>
  <td><%= special_line_item.ex_servidor.vinculo %></td>
  <td>
  		<%= link_to "REMOVER ITEM", special_line_item, method: :delete, 
  		data: { confirm: 'Tem realmente certeza?' } %>
  	</td>
</tr>
