$('#notice').hide();

if ($('#special_cart tr').length == 1) { $('#special_cart').show('blind', 1000); }

$('#special_cart').html("<%= escape_javascript render(@special_cart) %>");

$('#current_special_item').css({'background-color':'#88ff88'}).animate({'background-color':'#114411'}, 1000);
