h1 Listing special_line_items

table
  thead
    tr
      th Special cart
      th Exservidor
      th Order carga
      th
      th
      th

  tbody
    - @special_line_items.each do |special_line_item|
      tr
        td = special_line_item.special_cart
        td = special_line_item.exservidor
        td = special_line_item.order_carga
        td = link_to 'Show', special_line_item
        td = link_to 'Edit', edit_special_line_item_path(special_line_item)
        td = link_to 'Destroy', special_line_item, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Special line item', new_special_line_item_path
