p#notice = notice

p
  strong Special cart:
  = @special_line_item.special_cart
p
  strong Exservidor:
  = @special_line_item.exservidor
p
  strong Order carga:
  = @special_line_item.order_carga

= link_to 'Edit', edit_special_line_item_path(@special_line_item)
'|
= link_to 'Back', special_line_items_path
