<div class="header_scope">
  <%= link_to "Página Inicial ", sisconff_path, id: "inicial_page" %>
  <%= link_to ">> Gerenciar Cargas Para Ex-Servidores >> Adicionar Matriculas", control_new_ex_serv_cargas_path, id: "middle_page" %>
  <%= link_to " >> Finalizar Carga", new_exservidor_cargas_path, id: "current_page" %>
</div>

<br />
<fieldset><legend><h3>Gerar Carga Para Ex-Servidores</h3></legend>
  <!-- START:explanation -->
  <%= form_for(@special_order_carga, url: special_order_carga_create_path(@special_order_carga) ) do |f| %>
    <% if @special_order_carga.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@order_carga.errors.count, "error") %>
            prohibited this order_carga from being saved:
        </h2>
  <!-- START_HIGHLIGHT -->
        <ul>
        <% @order_carga.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
  <!-- END_HIGHLIGHT -->
        </ul>
      </div>
    <% end %>
  <!-- END:explanation -->

    <div class="field">
      <%= f.hidden_field :gerada_pelo_usuario_id, readonly: true, value: current_usuario.id %>
    </div>

    <div class="field">
      <%= f.hidden_field :setor_de_origem_id, readonly: true, value: current_usuario.setor_id %>
    </div>
    
    <div class="field">
      <%= f.label :setor_de_destino %><br>
      <%= f.collection_select :setor_de_destino_id, Setor.order(:nome), :id, :nome, include_blank: true %>
      <%= error_tag @special_order_carga, :setor_de_destino_id %>
    </div>
    <br />
   
    <div id="side_action_button_fichas_registration">
        <%= f.submit "Gerar", :class=>"button secundary tiny handsover but-rc", :id=>"button_font"%>
    </div>
    <div id="side_action_button_fichas_registration">
      <%= link_to 'Cancelar', control_set_new_carga_path, :class=>"but-primary  but-rc", :id=>"button_font" %>
    </div>
  <% end %>
</fieldset>