<li>
	<a href="#">
		<span class="iconic key"></span>
		<%= t('usuario.be_welcome', current_user: str_lowercase(current_usuario.nome)) %>
	</a>
	
	<ul>
			<li>
      		<%= link_to rails_admin_path do %>
        		<center>Administrar Site</center>
      		<% end %>
    	</li>
			
	  	<li>
	    	<center><a href="#"><span>Configurações</a></span></center>
	    	<ul>
	      		<li>
	        		<center>
	        			<%= link_to "Alterar dados", edit_usuario_registration_path %>
	        		</center>
	      		</li>
	      		<li>
	        		<center><%= link_to "Alterar senha", keystroke_path %></center>
	      		</li>
	    	</ul> 
	  	</li>
	</ul>
</li>