<% unless usuario_signed_in? %>
	
<% else %>
	<div class="wrap_menu">
		<nav class="BORDER_MENU">
		  	<ul class="menu">
		      	<li>
		      		<%= link_to sisconff_path  do %>
						<span class="iconic home"></span>Home
					<% end %>
				</li>
		      	
		      	<!-- <li><a href="#"><span class="iconic magnifying-glass"></span> Relatório</a></li> -->
		      	<% if current_usuario.admin %>
		      		<%= render partial: "shared/admin_menu" %>
		      	<% elsif current_usuario %>
		      		<%= render partial: "shared/usuario_menu" %>
		      	<% end %>
		      	
		      	<li>
		      		<%= link_to destroy_usuario_session_path, :method => :delete do %>
		      			<span class="iconic x-alt"></span><%= t('layout.logout') %>
		      		<% end %>
		      	</li>
			</ul>
		<div class="clearfix"></div>
	</nav><br />
</div>
<BR />
	<div class="current_left_user_menu_help">
		<b><%= link_to t('usuario.need_help'), help_path, id: "current_link" %></b>
	</div>
<% end %>