<div id="columns">
	<div id="side-menu">
		<% if current_usuario and usuario_signed_in? %>
			<div class="lessSpace">
				<div id="accordian">
					<ul>
						<li>
							<h3><span class="iconic magnifying-glass"></span>Localizar Ficha</h3>
							<ul>
								<li>
									<%= link_to "Por Matricula", find_matricula_path %>
								</li>

								<li>
									<%= link_to "Por Nome", find_server_name_path %>
								</li>
								
								<li>
									<%= link_to "Por Setor", find_setores_path %>
								</li>
							</ul>
						</li>
						<li>
							<h3><span class="iconic rss"></span><%=h "Visualizar Cargas" %></h3>
							<ul>
									<li><%= link_to "Criadas por este Setor", view_cargas_path %></li>
									<li><%= link_to "Pendentes deste Setor",control_get_order_carga_path %></li>
							</ul>
						</li>

						<li>
							<h3><span class="iconic book"></span>Gerenciar Cargas</h3>
							<ul>
								<li><%= link_to "Criar Carga", control_set_new_carga_path %></li>
								<li><%= link_to "Receber Carga",control_get_order_carga_path %></li>	
							</ul>
						</li>
					</ul>
				</div>
			</div>
		<% end %>
	</div>
</div>
