<div class="sisconff_messages">
	<% flash.each do |key, msg| %>
	  
	  	<div class="flash_messages">
		    <div class="alert alert-<%=h bootstrap_class_messages_for(key)%> alert-<%= key == :notice ? "success" : "error" %>">
		      <a class="close" data-dismiss="alert">&#215;</a>
		      <%=h msg %>
		    </div>
		</div>

	<% end %>
</div>