<li>
	<a href="#">
		<span class="iconic user"></span>
		<%= t('usuario.be_welcome', current_user: str_lowercase(current_usuario.nome)) %>
	</a>
	<ul>
	  	<li>
	    	<a href="#"><span>Configurações</a></span>
	    	<ul>
	      		<li>
	        		<center><%= link_to "Alterar dados", edit_usuario_registration_path %></center>
	      		</li>
	      		<li>
	        		<center><%= link_to "Alterar senha", keystroke_path %></center>
	      		</li>
	    	</ul> 
	  	</li><br />
	</ul>
</li>