<div  id="help_new_user">
	<% if current_usuario %>
		<P>
			Seja bem vindo(a) <%= current_usuario.nome.downcase %>!<br /><br />
			Para iniciar uma movimentação de fichas funcionais que entram e saem de seu setor, primeiramente vá ao item de menu "Gerenciar Cargas" e escolha a opção "Criar Carga". Nesta página adicione a ficha inserindo o número de matrícula desejado, devendo adicionar as fichas uma de cada vez. Um item referente a ficha será inserido em uma tabela na página, caso a ficha não seja encontrada você será levado(a) à um formulário para que possa então cadastrar uma nova ficha na base de dados. <br /> O próximo passo é selecionar o setor ao qual essa carga de fichas se destina. Feito esses procedimentos, uma nova movimentação é criada. Basta nesse momento imprimir o espelho de carga e assiná-lo. O mesmo procedimento é válido para fichas de ex-servidores localizadas no setor casa do arquivo.
		</P>
		<%= link_to "Baixe aqui o Manual Detalhado do SISCONFF.", "/files/MANUAL-SISCONFF.pdf", target: "_blank" %><br /><br />
		<%= link_to "Voltar", sisconff_path, :class=>"btn btn-danger btn-lg but-shadow btn-size", :id=>"button_font" %>
	<% else %>
</div>
<div  id="hello_new_user">
		<P>
			Seja bem vindo(a)!<br /><br />
			Para iniciar movimentações de Fichas Funcionais ou de Ex-Servidores no Sistema de Controle de Fichas Funcionais primeiramente, coloque seu login e senha passados anteriormente por um de nossos administradores.
			Caso tenha alterado sua senha e esquecido, entre em contato com o administrador do sistema para adquirir uma nova senha.
		</P>
		<%= link_to "Voltar", welcome_path, :class=>"btn btn-danger btn-lg but-shadow btn-size", :id=>"button_font" %>
	<% end %>
</div>
