= form_for @pensionista do |f|
  - if @pensionista.errors.any?
    #error_explanation
      h2 = "#{pluralize(@pensionista.errors.count, "error")} prohibited this pensionista from being saved:"
      ul
        - @pensionista.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :matricula
    = f.text_field :matricula
  .field
    = f.label :cpf
    = f.text_field :cpf
  .field
    = f.label :nome
    = f.text_field :nome
  .field
    = f.label :situacao
    = f.text_field :situacao
  .field
    = f.label :data_admissao
    = f.date_select :data_admissao
  .actions = f.submit 'Save'
