h1 Listing pensionistas

table
  thead
    tr
      th Matricula
      th Cpf
      th Nome
      th Situacao
      th Data admissao
      th
      th
      th

  tbody
    - @pensionistas.each do |pensionista|
      tr
        td = pensionista.matricula
        td = pensionista.cpf
        td = pensionista.nome
        td = pensionista.situacao
        td = pensionista.data_admissao
        td = link_to 'Show', pensionista
        td = link_to 'Edit', edit_pensionista_path(pensionista)
        td = link_to 'Destroy', pensionista, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Pensionista', new_pensionista_path
