p#notice = notice

p
  strong Matricula:
  = @pensionista.matricula
p
  strong Cpf:
  = @pensionista.cpf
p
  strong Nome:
  = @pensionista.nome
p
  strong Situacao:
  = @pensionista.situacao
p
  strong Data admissao:
  = @pensionista.data_admissao

= link_to 'Edit', edit_pensionista_path(@pensionista)
'|
= link_to 'Back', pensionistas_path
