<%- if controller_name != 'sessions' %>
  <%= link_to t('usuario.sign_in'), new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to t('usuario.didnt_receive_confirmation_instructions'), new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to t('usuario.didnt_receive_unlock_instructions'), new_unlock_path(resource_name) %><br />
<% end -%>
