<BR /><BR />
<h3 class="ficha_registration"><%=h "Matriculas Adicionadas" %></h3><HR />
<fieldset>


<table class="pretty">
  <TH>Matricula</TH>
  <TH>Nome</TH>
  <TH>Função</TH>
  <TH>Lotação</TH>
  <TH>Situação</TH>
  <TH>Vinculo</TH>
  <TH>Opção</TH>

  <%= render(cart.line_items) %>
</table>


<%= link_to "Avançar", new_order_carga_path, :class=>"btn btn-danger btn-lg but-shadow btn-size", :id=>"button_font" ,method: :get %>&nbsp&nbspou&nbsp
<%= link_to "Remover tudo", cart, id: "main_link_color" ,method: :delete, data: { confirm: 'Tem realmente certeza de que quer remover todas estas matriculas?' } %>
</fieldset>