<!-- formulário de login on SISCONFF -->
<div id="loginModalPosition" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
      <div class="modal-header">
        <h1 class="text-center">SISCONFF Login</h1>
      </div>
      <div class="modal-body">
	      <!-- <div class="form col-md-12 center-block"> -->
	        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	          <div class="form-group">
	          	<%= f.label "Nome de usuário"%>
							<%= f.text_field :nome, autofocus: true, class: "form-control input-lg", placeholder: "Nome de usuario"%>
	          </div>
	          <div class="form-group">
	          		<%= f.label "Senha" %>
	              <%= f.password_field :password, autofocus: true, class: "form-control input-lg", id: "password", placeholder: "Senha"%>
	          </div>
	          <div class="form-group">
	            <%= f.submit "Entrar", class: "btn btn-primary btn-lg but-shadow btn-size" %>
				<span class="pull-right"><%= link_to t('layout.help'),help_path, class: "text-primary" %></span>
	          </div>
	        <% end %>
	      <!-- </div> -->
    	</div>
    	<div class="modal-footer"></div>
		</div>
	</div>
</div>