<DIV class="LadoDoMenu">
  <table class="pretty">
    <tr>
      <th> 
        <strong><%=h "Setor de Origem" %></strong>
      </th>
      <th> 
        <strong><%=h "Setor de Destino" %></strong>
      </th>
      <th> 
        <strong><%=h "Data"%></strong>
      </th>
      <th> 
        <strong><%=h "Total de documentos"%></strong>
      </th>
      <th> 
        <strong><%=h "Opção"%></strong>
      </th>
    </tr>
    <%= yield %>