<!-- START:explanation -->
<%= form_for(@order_carga) do |f| %>
  <% if @order_carga.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@order_carga.errors.count, "error") %>
          prohibited this order_carga from being saved:
      </h2>
<!-- START_HIGHLIGHT -->
      <ul>
      <% @order_carga.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
<!-- END_HIGHLIGHT -->
      </ul>
    </div>
  <% end %>
<!-- END:explanation -->

  <div class="field">
    <%= f.hidden_field :gerada_pelo_usuario_id, readonly: true, value: current_usuario.id %>
  </div>

  <div class="field">
    <%= f.hidden_field :setor_de_origem_id, readonly: true, value: current_usuario.setor_id %>
  </div>
  
  <div class="field">
    <%= f.label :setor_de_destino %><br>
    <%= f.collection_select :setor_de_destino_id, Setor.order(:nome), :id, :nome, include_blank: true %>
    <%= error_tag @order_carga, :setor_de_destino_id %>
  </div>
  <br />
 
  <div id="side_action_button_fichas_registration">
      <%= f.submit "Gerar", :class=>"btn btn-danger btn-lg but-shadow btn-size but_default_color", :id=>"button_font"%>
  </div>
  <div id="side_action_button_fichas_registration">
    <%= link_to 'Cancelar', control_set_new_carga_path, :class=>"btn btn-primary btn-lg but-shadow btn-size but_default_color", :id=>"button_font" %>
  </div>
<% end %>


