<div class="header_scope">
	<%= link_to "Página Inicial ", sisconff_path, id: "inicial_page" %>
	<%= link_to ">> Visualizar Cargas >> Criadas por este setor", view_cargas_path, id: "current_page" %>
</div>

<BR /><BR />
<h3>Cargas feitas pelo setor</h3><HR /> 
<fieldset>
<!--  -->
<BR /><BR />
<DIV class="LadoDoMenu">
  <table class="pretty">
    <tr>
    	 <th> 
        	<strong><%=h "Identificação da Carga" %></strong>
      	</th>
      <th> 
        <strong><%=h "Setor de Origem" %></strong>
      </th>
      <th> 
        <strong><%=h "Setor de Destino" %></strong>
      </th>
      <th> 
        <strong><%=h "Data"%></strong>
      </th>
      
      <th> 
        <strong><%=h "Total de documentos"%></strong>
      </th>
      <th> 
        <strong><%=h "Opção"%></strong>
      </th>
    </tr>
	
	<%  @order_cargas.each do |carga| %>
  		<tr>
		    <td>
		      <center><%=h carga.id %></center>
		    </td>

		    <td>
		      <%=h carga.setor_origem.nome %>
		    </td>
		    
		    <td>
		      <%=h carga.setor_destino.nome %>
		    </td>

		    <td>
		    	<center><%=h formata_data(carga.created_at) %></center>
		    </td>

		    <td>
		    	<center>
		    		<% if carga.line_items.exists? %>
		    			<%=h carga.line_items.count %>
		    		<% elsif carga.special_line_items.exists? %>
		    			<%=h carga.special_line_items.count %>
		    		<% end %>
		    	</center>
		    </td>

		    <td>
		    	<% if carga.line_items.exists? %>
		    		<%= link_to "Exibir carga", carga, class: "link_option_to" %>
            <% if carga.pendente? %>
            - 
              <%= link_to 'Excluir', carga, method: :delete, data: { confirm: 'Tem certeza?' }, class: "link_option_to" %>
            <% end %>
		    	<% elsif carga.special_line_items.exists? %>
		    		<%= link_to "Exibir carga", exservidor_cargas_id_path(carga), class: "link_option_to" %> - 
            <% if carga.pendente? %>
              - 
              <%= link_to 'Excluir', carga, method: :delete, data: { confirm: 'Tem certeza?' }, class: "link_option_to" %>
            <% end %>
		    	<% end %>
		    </td>
		  </tr>
		</TR>
	<% end %>
</table>
</DIV>

<div class="flickr_pagination pagination-mini">
    <div class="page_info">
        <%= will_paginate @order_cargas, :previous_label => "Anterior", :next_label => "Próxima", :container => false%>
    </div>
</div>
</fieldset>
<!--  -->
<BR /><BR />
<div id="side_action_button_fichas_registration">
	<%=h link_to "Voltar", sisconff_path, :class=>"btn btn-primary btn-lg but-shadow  but_default_color", :id=>"button_font" %>
</div>
