<div class="header_scope">
	<%= link_to "Página Inicial ", sisconff_path, id: "inicial_page" %>
	<%= link_to ">> Gerenciar Cargas >> Adicionar Matriculas", control_set_new_carga_path, id: "middle_page" %>
	<%= link_to " >> Finalizar Carga", control_set_new_carga_path, id: "current_page" %>
</div>
<br />
<h3 class="ficha_registration">Gerar Carga</h3><HR />
<fieldset>
	<%= render 'form' %>
</fieldset>