<div class="header_scope">
	<%= link_to "Página Inicial >> ", sisconff_path, id: "inicial_page" %>
	<%= link_to "Visualizar Cargas >>", view_cargas_path, id: "middle_page" %>
	<%= link_to "Imprimir Carga", mirror_path(@order_carga), id: "current_page" %>
</div>

<BR />
<BR />

<div class="espelho">
	<div class="espelho_screen">
		<%=h image_tag("brasao_rgb.png", :width => 80, :height => 80) %>
		<div id="espelho_screen_text">
			<%=h "PREFEITURA MUNICIPAL DE CAMPOS DOS GOYTACAZES" %><br />
			<%=h "SECRETARIA MUNICIPAL DE ADMINISTRAÇÃO E GESTÃO DE PESSOAS" %><br />
			<%=h "SISTEMA DE CONTROLE DE FICHAS FUNCIONAIS" %><br />
		</div>
	</div>
	<div id="espelho_screen_bottom">
		<%=h "ESPELHO DE CARGAS ENTRE SETORES - SECRETARIA MUNICIPAL DE ADMINISTRAÇÃO E GESTÃO DE PESSOAS" %><BR /><BR />	

		<div>
			<%=h "Data de criação: " %><%=h @order_carga.created_at.strftime("%d/%m/%Y") %>
			<div id="hora_de_criacao">
				<%=h "Hora da criação: "%> <%=h @order_carga.created_at.strftime("%H:%M:%S") %>
			</div>
			<div id="usuario_responsavel">
				<%=h "Usuário responsável: "%> <%=h @order_carga.user_1.nome %>
			</div>
		</div><BR />

		<div>
			<%=h "Setor de Origem: " %><%=h @order_carga.setor_origem.nome %>
		</div>

		<BR />

		<div>
		    <%=h "Setor de Destino: " %><%=h @order_carga.setor_destino.nome %>
		</div>

		<BR />

		<DIV class="LadoDoMenu">
		  <table class="pretty">
		 	<tr>
		 		<th> 
		        	<strong><%=h "Matricula Funcional" %></strong>
		      	</th>
		      	<th> 
		        	<strong><%=h "Nome do Servidor" %></strong>
		      	</th>

		      	<th> 
		        	<strong><%=h "CPF" %></strong>
		      	</th>

		      	<th> 
		        	<strong><%=h "Função" %></strong>
		      	</th>

						<th> 
		        	<strong><%=h "Lotação" %></strong>
		      	</th>
		 	</tr>
			
			<% @order_carga.special_line_items.each  do |item| %>
			<tr>    
			    <td>
			    	<center>
			    	  	<%=h formata_matriculas(item.exservidor.nova_matricula) %>
			    	</center>
				  </td>

			    <td>
			    	<center>
			    	  	<%=h item.exservidor.nome %>
			    	</center>
				  </td>


				    <td>
				    	<center>
				    	  	<%=h item.exservidor.cpf %>
				    	</center>
				    </td>

				    <td>
				    	<center><%=h item.exservidor.vinculo %></center>
				    </td>

			    	<td>
				    	<center><%=h item.exservidor.nome_funcao %></center>
				    </td 
				</tr>
			<% end %>
		</table>
		<%=h "Total de documentos: "%><%=h @order_carga.special_line_items.count%>
		</DIV>
	</div>
</div>
<BR />
<BR />
<BR />

<div id="side_action_button_fichas_registration">
	<%=h link_to "Imprimir Carga", mirror_path(@order_carga), :class=>"button btn print print-button tiny handsover but-rc but-shadow", :id=>"button_font" %>
</div>

<div id="side_action_button_fichas_registration">
	<%=h link_to "Voltar", view_cargas_path, :class=>"button cancel tiny handsover but-rc", :id=>"button_font" %>
</div>