<div class="LadoDoMenu">
  <%= form_for(@ficha) do |f| %>
    <% if @ficha.errors.any? %>
      <div id="error_explanation">
        <%= t('general.form_error') %>
        
      </div>
    <% end %>
     <h3 class="ficha_registration"> Dados do Servidor</h3><HR />
    <fieldset>
      <div class="row large-4 small-6 columns">
        <div class="field">
          <%= f.label :matricula %>
          <%= f.text_field :matricula %><br />
          <%= error_tag @ficha, :matricula %>
        </div>
      </div>  

      <div class="row large-4 small-6 columns">
        <div class="field">
          <%= f.label :nome  %>
          <%= f.text_field :nome, :required => true%><br />
          <%= error_tag @ficha, :nome%>
        </div>
      </div>

      <div class="row large-4 small-6 columns">
        <div class="field">
          <LABEL>CPF - 000.000.000-00</LABEL>
          <%= f.text_field :cpf%><br />
          <%= error_tag @ficha, :cpf%>
        </div>
      </div>
    </fieldset>

    <h3 class="ficha_registration"> Dados da Lotação</h3><HR />
    <fieldset> 
      <div class="row large-4 small-6 columns">
        <div class="field">
          <%= f.label :nome_funcao%>
          <%= f.text_field :nome_funcao%><br />
          <%= error_tag @ficha, :nome_funcao%>
        </div>
      </div>
      
      <div class="row large-4 small-6 columns">
        <div class="field">
          <%= f.label :nome_lotacao%>
          <%= f.text_field :nome_lotacao%><br />
          <%= error_tag @ficha, :nome_lotacao%>
        </div>
      </div>
      
      <div class="row large-4 small-6 columns">
        <div class="field">
          <%= f.label :local_de_trabalho%>
          <%= f.text_field :nome_local_trabalho%><br />
          <%= error_tag @ficha, :nome_local_trabalho%>
        </div>
      </div>
    
      <div class="row large-4 small-6 columns">
        <div class="field">
          <%= f.label "data de admissão - dd/mm/AAAA"%>
          <%= f.text_field  :data_admissao, :id=>"datepicker"%>
          <%= error_tag @ficha, :data_admissao%>
        </div>
      </div>
    
      <div class="row large-4 small-6 columns">
        <div class="field">
          <%= f.label :vinculo%>
          <%= f.select :nome_vinculo, (vinculo_servidor_helper), {:prompt => ' '} %><br />
          <%= error_tag @ficha, :nome_vinculo%>
        </div>
      </div>
    
      <div class="row large-4 small-6 columns">
        <div class="field">
          <%= f.label :situacao%>
          <%= f.select :situacao, (situacao_servidor_helper), {:prompt => ' '}%><br />
          <%= error_tag @ficha, :situacao%>
        </div>
      </div>
    </fieldset>  

    <br /><br />
    <div id="side_action_button_fichas_registration">
      <%= f.submit "Enviar", :class=>"btn btn-danger btn-lg but-shadow btn-size", :id=>"button_font"%>
    </div>
    <div id="side_action_button_fichas_registration">
      <%= link_to 'Cancelar', control_set_new_carga_path, :class=>"btn btn-primary btn-lg but-shadow btn-size but_default_color", :id=>"button_font" %>
    </div>
  <% end %>
</div>