<div class="LadoDoMenu">
	
  <%= form_for(@ficha) do |f| %>
    <% if @ficha.errors.any? %>
      <div id="error_explanation">
        <%= t('general.form_error') %>
      </div>
    <% end %>

    <div class="field">
      <%= f.hidden_field :user_id, readonly: true, value: current_usuario.id %>
    </div>
    
    <div class="row large-4 columns">
			<div class="field">
			      <%= f.label :matricula %>
			      <%= f.text_field :matricula %>
			      <%= error_tag @ficha, :matricula %>
			</div>
		</div>
    
    <div class="row large-4 columns">
			<div class="field">
	      <%= f.label :nome %>
	      <%= f.text_field :nome %>
	      <%= error_tag @ficha, :nome %>
			</div>
		</div>
    
    <div class="row large-4 columns">
			<div class="field">
	      <%= f.label :funcao %>
	      <%= f.text_field :nome_funcao %>
	      <%= error_tag @ficha, :nome_funcao %>
			</div>
		</div>
    
    <div class="row large-4 columns">
			<div class="field">
	      <%= f.label :lotacao %>
	      <%= f.text_field :nome_lotacao %>
	      <%= error_tag @ficha, :nome_lotacao %>
			</div>
		</div>

    <div class="row large-4 columns">
			<div class="field">
        <%= f.label :data_admissao %>
        <%= f.text_field  :data_admissao, :id=>"datepicker" %>
        <%= error_tag @ficha, :data_admissao %>
	    </div>
  	</div>

	  <div class="row large-4 columns">
      <%= f.label :vinculo %>
      <%= f.select :nome_vinculo, (vinculo_servidor_helper) %>
      <%= error_tag @ficha, :nome_vinculo %>
	  </div>
  
	  <div class="row large-4 columns">
      <%= f.label :situacao %>
      <%= f.select :situacao, (situacao_servidor_helper) %>
      <%= error_tag @ficha, :situacao %>
	  </div>
    
    <div class="actions">
      <%= f.submit "Salvar", :class=>"button cancel tiny handsover but-rc", :id=>"button_font"%>
    </div>
    

  <div class="side_action_button">
    <%= button_to 'Cancelar', control_path, :class=>"but-primary  but-rc", :id=>"button_font" :method => :get %>
  </div>
<% end %>
</div>