<label><h3>Fichas Criadas Manualmente</h3></label>

<table class="pretty">
  <thead>
    <tr>
      <th>Matricula</th>
      <th>Nome</th>
      <th>Função</th>
      <th>Lotacao</th>
      <th>Situação</th>
      <th>Vinculo</th>
      <TH>Opções</TH>
      
    </tr>
  </thead>

  <tbody>
    <% @fichas.each do |ficha| %>
      <tr>
        <td><%=h ficha.matricula %></td>
        <td><%=h ficha.nome %></td>
        <td><%=h ficha.nome_funcao %></td>
        <td><%=h ficha.nome_lotacao %></td>
        <td><%=h ficha.nome_vinculo %></td>
        <td><%=h ficha.situacao %></td>
        <td>
          <%=h link_to 'Editar', edit_ficha_path(ficha) %>
          <%=h link_to 'Deletar', ficha, method: :delete, data: { confirm: 'Tem Certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Criar nova ficha', new_ficha_path %>
