<!--  -->
<div id="dialog" title="ATENÇÃO">
  <p id="pHELPER">
    Caso não queira mudar sua senha atual, sugiro que deixe todos campos nesta tela em branco e clique no botão voltar.
  </p>
</div>
<!--  -->
<h3>Altere sua Senha</h3><HR />
<fieldset>
<DIV class="LadoDoMenu">
  <%= form_for(@usuario, :url => keystroke_update_password_path, :html => { :method => :put }) do |f| %>
      <% if @usuario.errors.any? %>
        <div id="error_explanation">
          <%= t('general.form_error') %>
        </div>
      <% end %>      

      <div class="control-group">
          <%= f.label :senha_atual, :id=> "newLabel"%>
          <%= f.password_field :current_password %>
          <%= error_tag @usuario, :current_password %>
      </div>

      <div class="control-group">
          <%= f.label t("usuario.new_password"), :id=> "newLabel"%>
          <%= f.password_field :password, :autocomplete => "off" %>
          <%= error_tag @usuario, :password %>
      </div>

      <div class="control-group">
          <%= f.label :confirme_sua_nova_senha, :id=> "newLabel"%>
          <%= f.password_field :password_confirmation %>
          <center><%= error_tag @usuario, :password_confirmation %></center>
      </div>

      <BR />
      
      <div class="control-group">
        <%= f.submit t('layout.update'), :class=>"btn btn-danger btn-lg but-shadow btn-size", :id=>"button_font" %>
        <%= link_to t('layout.back'), sisconff_path,:class=>"btn btn-primary btn-lg but-shadow btn-size", :id=>"button_font" %>
      </div>
    <% end %>
</DIV>
</fieldset>

<script type="text/javascript">
  
  $(function() {
    $( "#dialog" ).dialog();
  });
  
</script>