$header-height: 100px;
$content-width: 70%;

$serif-families: "Pacifico", "Georgia", serif;
$sans-serif-families: "Helvetica", sans-serif;

$error-text-color: #B94A48;
$success-text-color: #468847;

$nav-buttons: 70px;
$nav-buttons-align: 5px;

@mixin shadow($color, $x, $y, $radius){
  -moz-box-shadow: $color $x $y $radius;
  -webkit-box-shadow: $color $x $y $radius;
  box-shadow: $color $x $y $radius;
}

/* ############ RESET GLOBAL ################ */
/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
 
img a, a img{border: none;}
blockquote, q {quotes: none;}
 
blockquote:before, blockquote:after, q:before, q:after {
content: ""; content: none;
}

/*###############LOGIN - SCREEN##############*/

.login_container { margin: 25px auto; margin-top:160px; margin-left: -50px; position: relative; width: 900px; }

#login_content {
  margin: 0 auto;
  padding: 25px 0 0;
  position: relative;
  width: 400px;
}

#leftcorner{
  float:left;
  margin-left: 39px;  
}

/* ############ CLASSES COMUNS ############ */

.clear{clear: both;}
 
.imgLeft{
 float: left;
 padding: 0 6px 3px 0;
}

.imgRight{
 float: right;
 padding: 0 0 3px 6px;
}

#pagina_inicial{
  float: right;
  margin-top: -40px;
  font-weight: bold;
}

#imprimir_carga{
  text-align: center;
  position: relative;
  overflow: auto;
  margin-top: 15px;
  margin-left: 420px;
  margin-right: 420px;

  a{
    &:visited{
      color: #fff;
    }
    &:hover{
      color: #000; 
    }
  }
}


div{
  .left_margin{
    margin-top: 52px;
    margin-left: 24px;
  }
}

div.header_scope{
  margin: 3px;
  margin-top:-15px;
  margin-bottom:22px;
  
  a#inicial_page{
    font:$sans-serif-families;
    font-weight: bold;
    font-size: 1em;
    color: #000;
  }

  a#middle_page{
    font:$sans-serif-families;
    font-weight: bold;
    font-size: 1em;
    color: #696969;
  }
  
  a#current_page{
    font:$sans-serif-families;
    font-weight: bold;
    font-size: 1em;
    color: #1E90FF;
  }
}

.buscar{
  font-size: 11px;
  text-align: center;
  margin:0px 0 0 0;
}


#hello_new_user{
  margin-left: 120px;
  text-align: justify;
  margin-bottom: 30px;
  width: 750px;
  p{
    font:$sans-serif-families;
    font-weight: 400px;
    font-size: 1.5em;
    text-align: justify;
    color: #000;
    margin-top: 180px;
  }
}

#help_new_user{
  margin-left: 120px;
  text-align: justify;
  margin-bottom: 30px;
  width: 750px;
  p{
    font:$sans-serif-families;
    font-weight: 400px;
    font-size: 1.5em;
    text-align: justify;
    color: #000;
    margin-top: 10px;
  }
}

header {
  @include shadow(#ccc, 0, 3px, 6px);
  border-bottom: 1px solid #686;
  margin-bottom: 30px;
  
  #header-wrap{
    margin: 0 auto;
    padding: 10px;
  }

  #logo{
    margin-top:3px !important;
    img{
      float: left;
      margin-top: -10px;
    }
  }
 
  height: $header-height;
  background: #9ECE71 !important;
  
  h1 {
    float: left;
    margin-left: -21%;
    a {
      color: #333;
      font-family: $serif-families;
      font-weight: 400;
      font-size: 2.9em;
      &:hover {
        color: #000;
      }
    }
  }
  
  div.header_menu_container{
    margin-right: 5px !important;
    
    div.current_left_user_menu_help{
      margin-top: 25px;
      margin-right: 5px;
      float: right;
    }

    div.help_header {
      li{
        float: right;
        margin-top: 40px;
        margin-bottom: 20px;
        display: inline-block;
        padding: 9px 9px;
        padding: 9px 20px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        a {
          font-size: 16px;
          font-weight: 600;
          color: #fff;
        }
      }
    } 
  }  
}

footer {
  margin: 55px 0px 0px 0;
  padding:12px 15px;
  float: center;
  line-height: 18px;
  text-align: left;

  div{
    color: #1C1C1C;
    font-size: 18px;
    font-wheight: bold;
  }

  .footer{
    text-align: center;
  }
}

form {
  label {
    display: block;
    margin: 5px 0;
    color: #444;
  }

  input[type=text], input[type=password], input[type=email],textarea , select{
    color: #444;
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 200px;
    outline: 0;
    @include shadow(rgba(0,0,0, 0.1), 0px, 0px, 8px);
    &:focus { border: 1px solid #c9c9c9; }
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
  }

  textarea {
    width: 400px;
    height: 200px;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
  }
}


div.field, div.actions {
  margin-bottom: 10px;
}

#columns {
  .content {
    margin-left: 15.17em;
    margin-top: -10.2em;
    padding: 10px 40px;
  }
  
  #session_screen{
    margin-top: 120px;
    margin-left: 225px;
    fieldset{
      legend { color: #4682B4; text-align: center; border: #4682B4 solid 2px;}
      
      /*border: #4682B4 solid 2px;*/
      border: #4682B4 solid 2px;
      box-shadow: 
      0 5px 15px 1px rgba(0, 0, 0, 0.6), 
      0 0 200px 1px rgba(255, 255, 255, 0.5);
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    }
  }
  
  //#START:side
  #side-menu {
    /*float: left;*/
    margin-left: -20px;
    margin-top: -20px;
    padding: 1em 3em;
    width: 19.5em;
    background: #9ECE71;
    

    //custom font for text
    @import url(http://fonts.googleapis.com/css?family=Nunito);
    @import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);

    //Basic reset
    * {margin: 0; padding: 0;}

    #accordian {
      background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a',
            endColorstr='#72b352',GradientType=0);

      text-align: left;
      box-shadow: 
      0 5px 15px 1px rgba(0, 0, 0, 0.6), 
      0 0 200px 1px rgba(255, 255, 255, 0.5);
      
      position: relative;
      left: -25px;
    }
  
    #accordian h3 {
      font-size: 16px;
      line-height: 29px;
      padding: 0 10px;
      cursor: pointer;
      text-align: left;
      color: #333;
      width: 250px;
    }

    #accordian h3:hover {
      background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
      background-image: linear-gradient(#ededed, #fff);
      border-radius: 12px;
      box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
      color: #222;
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    }

    #accordian h3:active {
      background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
      background-image: linear-gradient(#ededed, #fff);
      border-radius: 12px;
      box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
      color: #222;
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    }    

    #accordian h3 span {
      font-size: 25px;
      margin-right: 10px;
    }

    #accordian li {
      list-style-type: none;
    }
    
    #accordian ul ul li a {
      color: #000;
      text-decoration: none;
      font-size: 15px;
      line-height: 27px;
      margin-left: 30px;
      display: block;
      padding: 0 9px;
      transition: all 0.15s;
      width: 190px;
    }

    #accordian ul ul li a:hover {
      background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
      background-image: linear-gradient(#ededed, #fff);
      border-radius: 12px;
      box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
      color: #222;
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    }

    #accordian ul ul li a:active {
      background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
      background-image: linear-gradient(#ededed, #fff);
      border-radius: 12px;
      box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
      color: #222;
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    }

    #accordian ul ul {
      display: none;
    }

    #accordian li.active ul {
      display: block;
    }
    /* START_HIGHLIGHT */
    form, div {
      display: inline;
    }  
 
    input {
      font-size: small;
    }

    #cart {
      font-size: smaller;
      color:     white;

      table {
        border-top:    1px dotted #595;
        border-bottom: 1px dotted #595;
        margin-bottom: 10px;
      }
    }
  }
//#END:side
}

/* START:i18n */
  .locale {
    float: right;
    margin: -0.25em 0.1em;
  }
/* END:i18n */

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

table.pretty {
  border-collapse: collapse;
  margin-bottom: 10px;
  text-align:center;
}

.pretty td, .pretty th {
  padding: 4px 10px;
  border: solid 1px #AAA;
}

.pretty .price {
  text-align: right;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}

.mocka_sidebar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
  background: #ffffff;
}

@media only screen and (max-width: 640px) {

  .mocka_sidebar {
    background: #ffffff;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 45px;
    position: relative;
    width: 100%;
  }
}

#hora_de_criacao{
  margin-top: -15px;
  margin-left: 290px;
}

#usuario_responsavel{
  margin-top: -15px;
  margin-left: 490px;
}

.espelho{
  margin-top: 30px;
}

.espelho_screen{
    #espelho_screen_text{
      margin-top: -50px;
      margin-left: 80px;
    }   
}

#espelho_screen_bottom{
  margin-top: 50px;
}

#left_btns{
  margin-top: 20px;
}

fieldset{
  legend.ficha_registration
  {
    font-size: 18px;
    color: #1C1C1C;
  }  
}

#LadoDoMenu{
  margin-left: 15px;
}

#label_carga{
  margin-top: 16px;
  font-size: 14px;
  color: red;
}

div.control-group{
  #newLabel{
    font-weight:bold;
  }

  p#blue{
    color: #4682B4;
    font-style:italic;
  }

  p#red{
    color: #EE0000;
    font-style:italic;
  }

  p#yellow{
    color: #EEAD0E;
    font-style:italic;
  }
}

p#pHELPER{
  text-align: justify;
}

div#info{
  text-align: justify;
  color: #191970;
  text-align: center;
}

#tCarga{
  diplay: inline-block;
}

#cCarga{
  diplay: inline-block;
  margin-left: 210px;
  margin-top: -55px;
  .left-side-screen{
    margin-left: 650px;
    margin-top: -25px;
    position: absolute !important;
  }
}

#mask {
  position:absolute;
  z-index:9000;
  
  display:none;
}

#boxes .window {
  position:fixed;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:30px;
}

/* Customize your modal window here, you can add background image too */
#boxes #dialog {
  width:375px;
  height:203px;
}

#boxes #dialog2 {
  background:url(notice.png) no-repeat 0 0 transparent; 
  width:326px; 
  height:229px;
  padding:50px 0 20px 25px;
}

a#dialogModalink{
  color: red;
}

a:hover#dialogModalink{
  color: #CD0000;
  font-weight: bold;
}

a#dialogModal2{
  position: relative;
  left: -42px;
  font-size: 30px;
  font-weight: bold;
  color: #000000;

  opacity:0.85;
  -moz-opacity: 0.85;
  filter: alpha(opacity=65);
}

a#dialogModal2:hover{
  color: #8B4513;
  font-weight: bold;

  opacity:0.85;
  -moz-opacity: 0.85;
  filter: alpha(opacity=100);
}

fieldset#item_destacado{
  font-family: sans-serif;
  border: 1px groove threedface;
  border-radius: 4.5px; 
  padding: 25px;
  background: #fff;
  margin: 12px;
  box-shadow: 5px 5px 5px rgba(0,0,2, .4);
}

fieldset {
    border: 1px solid #DDD;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

#NenhumaMovimentacao{
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0,0,0, .4);
  padding: 10px 30px 10px !important;
  font-size: 12pt;
}

#mesma_matricula{
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0,0,0, .4);
  padding: 10px 30px 10px !important;
  font-size: 12pt;
  color: #B22222;
}

#copyright{
  text-shadow: 1px 1px 2px rgba(0,0,0, .4);
  font-size: 12pt;
  color: #000;
}

i#find_by_name{
  font-size: 16px;
  color: #B22222;
}

#recuo{
  margin-left: -40px;
}

nav{
  ul#sectors_founded {
    padding: 0px;
    margin: 0px;
  }
  /*
    ul#sectors_founded li {
      background-image: url(ok.png);
      background-repeat: no-repeat;
      background-position: 0px 5px; 
      padding-left: 22px; 
    }
  */

  li a#sectors_founded{
    font-weight: bold;
    font-size: 1em;
    color:#428bca;
    text-decoration:none;
  }

  li a#sectors_founded:hover{
    font-weight: bold;
    font-size: 1em;
    color:#0276da;
    text-decoration:none;
  }
}

.NotFound{
  color: #B22222;
}