$serif-families: "Pacifico", "Georgia", serif;
$sans-serif-families: "Helvetica", sans-serif;

$error-text-color: #B94A48;
$notice-text-color: #468847;

@mixin shadow($color, $x, $y, $radius){
  -moz-box-shadow: $color $x $y $radius;
  -webkit-box-shadow: $color $x $y $radius;
  box-shadow: $color $x $y $radius;
}


.sisconff_messages{
  margin-left: 50px;
  margin-bottom: 20px; 
}



/*********************************************/

.fieldWithErrors {
  display: inline;
}

#error_explanation {
    border: 1px solid $error-text-color;
    color: $error-text-color;
    background-color: #F2DEDE;
    @extend .padded_flash;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    text-align:center;
    padding:20px 35px 8px 24px;
    font-weight: bold;
    &:focus { border: 1px solid rgba(189,74,72, 0.6); }
  }

.field_with_errors {
  display: inline; 
  label { color: $error-text-color; }
  input[type=text], , input[type=email], input[type=password], textarea {
    border: 2px solid rgba(189,74,72, 0.5);
    @include shadow(rgba(255,84,72, 0.2), 0px, 0px, 8px);
    &:focus { border: 1px solid rgba(189,74,72, 0.6); }
  }
}

.error_message {
  margin-left: 30px;
  display: inline; 
  color: $error-text-color;
}

.error_model_message {
  margin-left: 30px;
  position: relative !important;
  top: 10px;
  display: inline; 
  color: $error-text-color;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
  background-size: 18%;
  -webkit-background-size: 10%;
  -o-background-size: 10%;
  -khtml-background-size: 10%;
  -moz-background-size: 20% 10%;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}


/*********************************************/

/****************** MENSAGENS NORMAIS ******************/

.flash_messages {
  padding: 20px;
  width: 800px;
  text-align:  center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.alert {
  padding:20px 35px 8px 24px;
  margin-top: 20px;
  margin-bottom:25px;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  text-shadow:0 1px 0 rgba(255,255,255,0.5); 
}


.alert-success, .alert-notice, .alert-danger ,.alert-error, .alert-warning, .alert-info{
  font-weight: bold;
  margin: -10px 0 15px 0;
  padding: 15px 15px 15px 27px;
}

.alert-success{
  border: 1px solid #9c9;
  background: #e2f9e3 url("tick.png") no-repeat 5px center;
  color: #060;
}

.alert-danger, .alert-error{
  border: 1px solid #c68484;
  background: #fcc url("cross.png") no-repeat 5px center;
  color: #c00; 
}

.alert-danger h4, .alert-error h4{
  border: 1px solid #c68484;
  background: #fcc url("cross.png") no-repeat 5px center;
  color: #c00; 
}

.alert-warning{
  border: 1px solid #dd0;
  background: #ffc url("warning.png") no-repeat 5px center;
  color: #000; 
}

.alert-notice, .alert-info{
  border: 1px solid #82c2d4;
  background: #ebf5f8 url("information.png") no-repeat 5px center;
  color: #4682B4; 
}

.alert .close {
  position:relative;
  top:-5px;
  right:-10px;
  line-height:20px
}

.alert-block {
  padding-top:14px;
  padding-bottom:14px
}

.alert-block>p,.alert-block>ul {
  margin-bottom:0
}

.alert-block p+p {
  margin-top:5px
}

.close {
  float:right;
  font-size:25px;
  font-weight:bold;
  line-height:3px;
  text-align: center;
  color:#000;
  text-shadow:0 1px 0 #fff;
  opacity:.3;
  filter:alpha(opacity=20)
}

.close:hover,.close:focus {
  color:#000;
  text-decoration:none;
  cursor:pointer;
  opacity:.4;
  filter:alpha(opacity=40)
}

/*********************************************/
