.but_default_color{
  color: #fff;
  text-decoration: none;
  a{
    color: #fff;
    font_weight: bold;
    &:visited{
      color: #fff;
      font_weight: bold;
    }
  }
}

/************************************************/

.btn.print{
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.0625rem;
  padding-left: 1rem;
  padding:10px 20px;
  background-color: #191970;
  border-color: #007095;
  color: #fff;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  padding-top: 1.0625rem;
  padding-bottom: 1rem;
  -webkit-appearance: none;
  border: none;
  font-weight: bold !important;
  font-size: 16px;
  a{
    color: #fff;
    font-size: 16px;
    &:visited {
      color: #fff;
    }
  }
}

.btn.print:hover, .btn#print:focus
{
  background-color: #008cba;
  a{
    color: black;
    font-size: 16px;
    text-decoration: none;
    &:visited {
      color: #fff;
    }
  }
}

/*********************************************************************/
/* CORES */

a#main_link_color {
  color: #556B2F;
  font-weight: bold;
}

a:hover#main_link_color {
  color: #0068B4;
  font-weight: bold;
}

.but-primary {
  padding:10px 20px;
  background-color: #0068B4;
  color: #fff;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.but-primary:hover {
  background-color: #009ACD;
  color: #fff;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.but-success {
  padding:10px 20px;
  background-color: #008B45;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.but-success:hover{
  background-color: #8FBC8F;
  color: #556B2F;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.but-cancel {
  color: #fff;
  padding:10px 20px;
  background-color: #CC0000;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.but-warning {
  color: #fff;
  padding:10px 20px;
  background-color: #F28E00;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.but-exit {
  color: #fff;
  padding:10px 20px;
  background-color: #CC0000;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

a.but-exit{
  color: #fff;
  background-color: #CC0000;
  padding:10px 20px;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.but-help {
  color: #fff;
  background-color: #CC0000;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.login-button{
  padding:10px 20px;
  color: #fff;
  background-color: #0068B4;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.print-button{
  padding:10px 20px;
  color: #fff;
  background-color: #0068B4;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.login-button:hover{
  padding:10px 20px;
  color: #000;
  background-color: #DDDCCC;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.but-exit:hover {
  color: #fff;
  background-color: black;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.but-help:hover {
  color: #fff;
  background-color: black;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}


  
/* EFEITOS */
 
.but-shadow {
  box-shadow: 1px 1px 1px #999;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.but-rc {
  border-radius: 4px;
}
  
/* TAMANHOS */

.but-small {
  font-size: 60%;
}

.but-regular {
  font-size: 100%;
}

.but-large {
  font-size: 140%;
}

#button_font{
  font-weight: bold;
  font-size: 1em;
  color:#fff;
  text-decoration:none;
}

.side_action_button{
  margin-top: -6.5%;
  margin-left: 126px;
}

#side_action_button_fichas_registration{
  display: inline-block;
}

.btn-size{
  width: 120px;
}