= form_for @special_cart do |f|
  - if @special_cart.errors.any?
    #error_explanation
      h2 = "#{pluralize(@special_cart.errors.count, "error")} prohibited this special_cart from being saved:"
      ul
        - @special_cart.errors.full_messages.each do |message|
          li = message

  .actions = f.submit 'Save'
