<BR /><BR />
<h3><%=h "Matriculas de Ex-Servidores Adicionadas" %></h3><HR />
<fieldset>


<table class="pretty">
  <TH>Matricula</TH>
  <TH>Matricula Antiga</TH>
  <TH>Nome</TH>
  <TH>Função</TH>
  <TH>Lotação</TH>
  <TH>Vinculo</TH>
  <TH>Opção</TH>

  <%= render(special_cart.special_line_items) %>
</table>


<%= link_to "Avançar", new_exservidor_cargas_path,:class=>"btn btn-danger btn-lg but-shadow btn-size", :id=>"button_font" ,method: :get %>&nbsp&nbspou&nbsp
<%= link_to "Remover tudo", special_cart, method: :delete, data: { confirm: 'Tem realmente certeza de que quer remover todas estas matriculas?' } %>
</fieldset>