h1 Listing special_carts

table
  thead
    tr
      th
      th
      th

  tbody
    - @special_carts.each do |special_cart|
      tr
        td = link_to 'Show', special_cart
        td = link_to 'Edit', edit_special_cart_path(special_cart)
        td = link_to 'Destroy', special_cart, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Special cart', new_special_cart_path
