<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
  <td><%= line_item.ficha.matricula %></td>
  <td><%= line_item.ficha.nome %></td>
  <td><%= line_item.ficha.nome_funcao %></td>
  <td><%= line_item.ficha.nome_lotacao %></td>
  <td><%= line_item.ficha.situacao %></td>
  <td><%= line_item.ficha.nome_vinculo %></td>
  <td>
  		<%= link_to "REMOVER ITEM", line_item, id: "main_link_color" ,method: :delete, 
  		data: { confirm: 'Tem realmente certeza?' } %>
  	</td>
</tr>
