<p id="notice"><%= notice %></p>

<p>
  <strong>Ficha:</strong>
  <%= @line_item.ficha %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @line_item.cart %>
</p>

<p>
  <strong>Order carga:</strong>
  <%= @line_item.order_carga %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
