<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->   
<html xmlns="http://www.w3.org/1999/xhtml">  
  <!-- START:head -->
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="generator" content="Bootply" />
      <%= stylesheet_link_tag  "application", media: "all" %>
      <%= javascript_include_tag :application %>
      <%= csrf_meta_tags %>
  
    	<!-- Uncomment to make IE8 render like IE7 -->
    	<meta http-equiv="X-UA-Compatible" content="IE=7" />

      <!--[if lt IE 7]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <!--[if lt IE 8]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <!--[if lt IE 10]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <!--[if lt IE 11]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

   	  <title><%= content_for?(:title) ? yield(:title) : "SMAGP" %></title>

      <%= yield(:head) %>
    </head>
  <!-- END:head -->
  
  <body class="<%= controller.controller_name %>">

        <header>
          <div id="header-wrap">
            <div id="logo">
              <%= image_tag("logo_rgb.png") %>
            </div>
    			</div>
    			<div class="header_menu_container">
    				<%= render 'shared/current_user' %>
    			</div>
        </header>
        
          
        <div class="container panel">
          <% if current_usuario %>  
            <%= render 'shared/menuLateral' %>    
          <% end %>
          <div id="LadoDoMenu">
            <div id="columns">
              <div class="content">
                <div class="row">
                  <%= render partial: 'shared/messages', flash: flash %>
                </div>
                <%= yield %>
                <div class="clear"> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"> </div>
    		<FOOTER>
    			<div class="footer" id="cityname">
    				<div id="info">
              SISCONFF - Sistema de Controle de Ficha Funcional
            </div>
            <BR />
            <div id="copyright">
              Secretaria Municipal de Administração e Gestão de Pessoas - Campos dos Goytacazes - RJ
              <br /><br />
              © Copyright 2014 - Todos os Direitos Reservados - Desenvolvido por Alexandre dos Santos Sampaio Silva - Estagiário de Ti
            </div>
    			</div>
    		</FOOTER>
  </body>
</html>